@import '../../../styles/mixins.scss';

.quizzesReports {
  .goBack {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    button {
      background: transparent;
      border: none;
      outline: none;
      color: var(--error-color);
    }
  }
  .tableReports {
    overflow-x: scroll;
    table {
      min-width: 1300px;
      border: 1px solid rgb(223, 223, 223);
      thead {
        background-color: #ededed;
        tr {
          th {
            font-weight: 600;
            text-align: center;
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            border-left: 1px solid rgb(228, 228, 228);
            border-right: 1px solid rgb(228, 228, 228);
            button {
              background-color: var(--main-color);
              color: #fff;
              padding: 8px 40px;
              border-radius: 20px;
              border: none;
              outline: none;
              min-width: 150px;
              display: flex;
              gap: 5px;
              &:hover {
                filter: brightness(0.9)
              }
            }
            .progressBar {
              width: 80px;
              height: 20px;
              background-color: #ccc;
              border-radius: 5px;
              margin: auto;
              position: relative;
              span {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                background-color: var(--success-color);
                border-radius: 5px;
                color: #fff;
                font-size: 0.8rem;
                display: grid;
                place-items: center;
              }
            }
            .statusBar {
              span {
                width: 80px;
                height: 20px;
                border-radius: 5px;
                margin: auto;
                color: #fff;
                font-size: 0.7rem;
                display: grid;
                place-items: center;
                background-color: var(--success-color);
                &.notFinished {
                  background-color: var(--error-color);
                }
              }
            }
          }
        }
      }
    }
  }

  .chartsReports {
    .chartsSection {
      margin-top: 30px;
      border: 1px solid rgb(228, 228, 228);

      h5 {
        background-color: #ededed;
        padding: 10px 20px;
        font-size: 1.1rem;
        font-weight: 600;
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
    }
  }
}
