/****************| Media Query Mixins |****************/
/****************| Centering Mixin |****************/
/****************| main box shadow |****************/
/****************| Add Font Mixin |****************/
/****************| Fixed Background Mixin |****************/
/****************| Overlay Mixin |****************/
/****************| Float Clearfix Mixin |****************/
/****************| Reverse Bg Color Function |****************/
.textSection {
  padding: 5px;
  border: 1px solid #e6e6e6;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Amiri', serif !important;
}

@media (max-width: 576px) {
  .textSection {
    font-size: 0.9rem !important;
    line-height: 25px !important;
    padding: 10px;
  }
}

.textSection mark.en {
  font-size: 1.2em !important;
  background-color: transparent;
  /* background must be of type background image not color so we can animate it (Notice: linear-gradient is an background-image && second color is opacity: 0 coz we only need one color to highlight be we have to make it of type image got me ?)*/
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #dfbf09), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(90deg, #dfbf09 50%, rgba(255, 255, 255, 0) 50%);
  /* background-size those values makes the background fill all the width of the text */
  background-size: 200% 100%;
  /* background-position 100% to move the background until it's hidden so we can show it with the animation */
  background-position: 100% 0;
}

.textSection mark.en:hover {
  -webkit-animation: 20s highlight ease-out;
          animation: 20s highlight ease-out;
}

@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@media (max-width: 576px) {
  .textSection mark.en {
    font-size: 0.9rem !important;
    line-height: 25px !important;
  }
}

.textSection mark.ar {
  font-size: 1.2rem !important;
  background-color: transparent;
  /* background must be of type background image not color so we can animate it (Notice: linear-gradient is an background-image && second color is opacity: 0 coz we only need one color to highlight be we have to make it of type image got me ?)*/
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #dfbf09), color-stop(50%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #dfbf09 50%, rgba(255, 255, 255, 0) 50%);
  /* background-size those values makes the background fill all the width of the text */
  background-size: 200% 100%;
  /* background-position 100% to move the background until it's hidden so we can show it with the animation */
  background-position: 0 100%;
  line-height: 35px;
}

.textSection mark.ar:hover {
  -webkit-animation: 20s highlight ease-out;
          animation: 20s highlight ease-out;
}

@keyframes highlight {
  to {
    background-position: 100% 0;
  }
}

@media (max-width: 576px) {
  .textSection mark.ar {
    font-size: 0.9rem !important;
    line-height: 25px !important;
  }
}
/*# sourceMappingURL=textSection.module.css.map */