@import "../../styles/mixins.scss";

.adverSection {
  height: 120px;
  width: 120px;
  position: absolute;
  left: 20px;
  top: 28%;
  z-index: 9999;
  img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    &:hover {
      filter: brightness(0.9);
    }
  }
  @include xl {
    height: 100px;
    width: 100px;
  }
  @include lg {
    height: 80px;
    width: 80px;
    left: 47%;
    top: 10px;
  }
  @include md {
    left: 45%;
  }
  @include sm {
    left: 45%;
    top: 10px;
  }
  @include xs {
    left: 40%;
  }
}
