.matching {
  .wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    p {
      font-weight: 600;
    }
    svg {
      color: red !important;
    }

    .list {
      padding: 5px;
    }

    .match {
      padding: 5px;
    }
  }
  svg {
    color: red !important;
  }
}