@import '../../../styles/mixins.scss';

.matching {
  &.animation {
    animation: show 1s forwards;
  }
  @keyframes show {
    0%{
      opacity: 0;
      transform: translateX(100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  .wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    direction: unset !important;
    text-align: unset !important;
    p {
      font-weight: 600;
      color: #000;
      background-color: rgb(231, 231, 231);
      margin-bottom: 5px;
      
      border-radius: 5px;
      // width: 150px;
      // box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
      // margin-top: 10px;
      cursor: pointer;
      direction: unset !important;
      text-align: center !important;
      span {
        // padding: 4px 5px;
        display: block;
      }
      img {
        width: 100px;
        height: 100px;
      }
      @include xs {
        width: 100px;
        font-size: 0.9rem;
      }
    }

    canvas {
      direction: unset !important;
      text-align: unset !important;
    }

    .list {
      // padding: 0px 15px;
      // background-color: rgb(238, 238, 238);
      text-align: center !important;
    }

    .match {
      // padding: 0px 15px;
      // background-color: rgb(238, 238, 238);
      text-align: center !important;
      direction: unset !important;
      text-align: unset !important;
    }
  }

  .btn {
    text-align: center;
    margin-top: 30px;
    button {
      background-color: var(--book-color);
      color: #fff;
      border: 1px solid var(--book-color);
      padding: 5px 20px;
      border-radius: 5px;
      outline: none;
      i {
        &.ar {
          &.next {
            transform: rotate(180deg);
          }
        }
      }
      &:hover {
        background-color: transparent;
        color: var(--book-color);
      }
    }
  }
}