.quizSection {
  button {
    border: none;
    background-color: transparent;
    outline: none;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
    position: relative;
    transition: all 0.1s ease-in-out;
    img {
      position: relative;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &:hover {
      border: 3px solid var(--main-color);
    }
  }
}