.levels {
  direction: rtl !important;
  text-align: right !important;
  .wrapper {
    // display: grid;
    // place-items: center;
    // grid-template-columns: repeat(auto-fit, 100px);
    // gap: 10px;
    // justify-content: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .one:nth-child(even) {
      background-color: var(--forth-color);
    }
    .one:nth-child(odd) {
      background-color: var(--first-color);
    }
    .one {
      padding: 20px;
      margin-top: 30px;
      color: #fff;
      flex: 0 0 calc(25% - 20px);
      text-align: center !important;
      border-radius: 40px;
      height: 200px;
      width: 100%;
      display: grid;
      place-items: center;
      background-color: #fff;
      cursor: pointer;
      img {
        width: 100px;
      }
    }
  }
}