@import '../../../styles/mixins.scss';

@keyframes show {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.bookReportsWrapper {
  animation: show 0.5s forwards;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  .choosingBook {
    // box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border: 1px solid rgb(228, 228, 228);
    margin-bottom: 30px;
    label {
      font-weight: 600;
    }
    @include sm {
      padding: 20px 10px;
    }
  }

  .bookReports {
    // padding: 30px;
    // border: 1px solid rgb(228, 228, 228);
    @include sm {
      padding: 20px 10px;
    }

    .tableReports {
      overflow-x: scroll;
      table {
        min-width: 1000px;
        border: 1px solid rgb(223, 223, 223);
        thead {
          background-color: #ededed;
          tr {
            th {
              font-weight: 600;
              text-align: center;
            }
          }
        }
        tbody {
          tr {
            td {
              text-align: center;
              border-left: 1px solid rgb(228, 228, 228);
              border-right: 1px solid rgb(228, 228, 228);
            }
          }
        }
      }
    }

    .chartsReports {
      .chartsSection {
        margin-top: 30px;
        border: 1px solid rgb(228, 228, 228);

        div {
          max-width: 800px;
          margin: 0 auto;
        }

        h5 {
          background-color: #ededed;
          padding: 10px 20px;
          font-size: 1.1rem;
          font-weight: 600;
        }
        div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
        }
      }
    }

    .notChoosed {
      h4 {
        text-align: center;
      }
    }
  }
}
