.home {
  direction: rtl !important;
  text-align: right !important;
  .wrapper {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, 100px);
    gap: 10px;
    justify-content: center;
    .one:nth-child(even) {
      background-color: var(--second-color);
    }
    .one:nth-child(odd) {
      background-color: var(--first-color);
    }
    .one {
      padding: 20px;
      margin-top: 30px;
      color: #fff;
      text-align: center !important;
      border-radius: 30px;
      height: 200px;
      grid-column: span 2;
      width: 100%;
      display: grid;
      place-items: center;
      background-color: #fff;
      cursor: pointer;
      img {
        width: 80px;
      }
    }
  }
}