.dropLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  .inside {
    width: 250px;
    height: 250px;
    img {
      background-color: transparent;
      width: 250px;
      height: 250px;
      object-fit: contain;
      animation: show 1s forwards;
      box-shadow: none;
      filter: drop-shadow(5px 5px 10px rgb(83, 83, 83));
    }
    @keyframes show {
      0% {
        transform: scale(0.5) rotate(10deg);
      }
      100% {
        transform: scale(1) rotate(-10deg);
      }
    }
  }
}