@import '../../styles/mixins.scss';

.imageSection {
  img {
    width: 100%;
    height: auto;
    max-height: 200px;
    &.fullImage {
      max-height: 100% !important;
    }
    &.halfImage {
      max-height: 290px !important;
    }
    // object-fit: cover;
    @include xs {
      max-height: 140px;
    }
  }
}